* {
  box-sizing: border-box;
}

.flex-container-column {
  display: flex;
  flex-direction: column;

  /* properti pendukung */
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.flex-container-row {
  display: flex;
  font-weight: 400;
}

.button {
  flex-basis: 35%;

  /* properti pendukung */
  font-size: 1.5em;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid black;
}

.header-on:hover,
.number-on:hover,
.onOff:hover {
  font-weight: bold;
  cursor: pointer;
}

.header-on {
  background: -webkit-linear-gradient(top, #bcc1c4, rgb(168, 167, 167));
  color: antiquewhite;
}

.header-off {
  background: -webkit-linear-gradient(top, #bcc1c4, rgb(168, 167, 167));
  color: black;
}

.number-off {
  color: white;
}

.onoff {
  color: rgb(206, 175, 2);
}

.clear {
  color: #790808;
}

.display {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 20px;
  background-color: #333333;
  border: 1px solid black;
  font-size: 1.5em;
}
.display-content {
  color: black;
  background-color: antiquewhite;
  padding: 4px 6px;
}

hr {
  border: 5px solid #333333;
}
